openapi: 3.0.3
info:
  title: Quiz
  description: Quiz API
  version: 0.0.0

servers:
  - url: 'https://quiz.carlgo11.com/api'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic
  parameters:
    bearerAuth:
      in: header
      name: Authorization
      description: JWT token
      required: true
      schema:
        type: string
    basicAuth:
      in: header
      name: Authorization
      description: Basic Authentication
      required: true
      schema:
        type: string
    acceptJSON:
      in: header
      name: Accept
      required: true
      schema:
        type: string
      content:
        application/json: { }
    contentJSON:
      in: header
      name: Content-Type
      required: true
      schema:
        type: string
      content:
        application/json: { }

  responses:
    Unauthorized:
      description: "Missing or invalid credentials"
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                default: "Incorrect or missing login credentials"
                type: string
    Accept:
      description: "Accept not set to 'application/json'"
      headers:
        accept:
          schema:
            type: string
            default: "application/json"
    Content-Type:
      description: "Content-Type not set to 'application/json'"
      headers:
        accept:
          schema:
            type: string
            default: "application/json"
    DB-Error:
      description: "Unable to establish connection to database"
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                default: "Database error"
                type: string
    Misc:
      description: Misc internal server error

paths:

  /questions:
    get:
      summary: Get all questions.
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/bearerAuth'
        - $ref: '#/components/parameters/acceptJSON'
      responses:
        200:
          description: Fetched list of all questions
          content:
            application/json:
              schema:
                type: object
                x-key-pattern: '^[0-9]+$'
                example:
                  "1":
                    "options":
                      - "A"
                      - "B"
                      - "C"
                  "2":
                    "options":
                      - "1"
                      - "2"
                      - "3"
        401:
          $ref: '#/components/responses/Unauthorized'
        406:
          $ref: '#/components/responses/Accept'
        502:
          $ref: '#/components/responses/DB-Error'

    put:
      summary: Create a new question
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/bearerAuth'
        - $ref: '#/components/parameters/acceptJSON'
        - $ref: '#/components/parameters/contentJSON'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              x-key-pattern: '^[0-9]+$'
              example:
                1:
                  options:
                    - "A"
                    - "B"
                    - "C"
                  correct:
                    - "B"
              additionalProperties:
                type: object
      responses:
        201:
          description: Question created
        401:
          $ref: '#/components/responses/Unauthorized'
        406:
          $ref: '#/components/responses/Accept'
        422:
          description: "Question name not numerical or not containing 'options' and 'correct'"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        500:
          description: Misc internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    default: "Error uploading question {{ question }}"
                    type: string
        502:
          $ref: '#/components/responses/DB-Error'

  /answers:
    post:
      summary: Upload the team's answers.
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/bearerAuth'
        - $ref: '#/components/parameters/contentJSON'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              x-key-pattern: '^[0-9]+$'
              minLength: 1
              additionalProperties:
                type: string
              example:
                "1": "A"
                "2": "X"
                "3": "2"
              description: Question number as key followed to the chosen answer
      responses:
        204:
          description: Answers successfully stored
        401:
          $ref: '#/components/responses/Unauthorized'
        415:
          $ref: '#/components/responses/Content-Type'
        500:
          $ref: '#/components/responses/Misc'
        502:
          $ref: '#/components/responses/DB-Error'

  /teams:
    put:
      summary: Create a new team/user
      parameters:
        - $ref: '#/components/parameters/contentJSON'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user
              properties:
                user:
                  type: string
      responses:
        201:
          description: Team successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    description: "JWT token to be used for further communication"
                    type: string
        409:
          description: User already exists (username taken)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    default: "User already exists"
                    type: string
        415:
          $ref: '#/components/responses/Content-Type'
        422:
          description: No username specified
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    default: "No username specified"
                    type: string
        502:
          $ref: '#/components/responses/DB-Error'
        500:
          $ref: '#/components/responses/Misc'

  /admin:
    put:
      summary: Create a new admin account
      security:
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/basicAuth'
        - $ref: '#/components/parameters/acceptJSON'
      responses:
        201:
          description: Admin account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    description: JWT admin token
        401:
          $ref: '#/components/responses/Unauthorized'
        406:
          $ref: '#/components/responses/Accept'
        409:
          description: An admin account already exists
        502:
          $ref: '#/components/responses/DB-Error'
        500:
          $ref: '#/components/responses/Misc'

    get:
      summary: Verify admin account credentials
      security:
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/basicAuth'
        - $ref: '#/components/parameters/acceptJSON'
      responses:
        200:
          description: Successful authentication
        401:
          $ref: '#/components/responses/Unauthorized'
        406:
          $ref: '#/components/responses/Accept'
        502:
          $ref: '#/components/responses/DB-Error'

